<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>{{user_type}} {{ssluzba}}</h1>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{form.as_table }}
      </table>
      <input type="submit" />
    </form>

    <p>{{message}}</p>
    <table>
      {% for user in users %}
      <tr>
        <td>
          <p>{{user}}</p>
        </td>
        <td>
          <a href="/{{user.image}}">Slika</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
